.familywrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: linear-gradient(#E7F0FF, #E8F1FF);
    padding-top: 30px;
}

.familywrapper>div {
    width: 585px;
}

.familywrapper>div>h3 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #2AA7FF;

}

.familywrapper>div>h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    text-align: left;
    color: #1B3C74;

}

.familywrapper>div>p {
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 40.8px;
    text-align: left;
    color: #77829D;

}

.familyimage {
    width: 585px;
    height: 714px;
    top: 4219px;
    left: 737px;
}