.Navigation {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    background: linear-gradient(#E7F0FF, #E8F1FF);
}

.logo {
    width: 92px;
    height: 27px;
    margin: auto 0;
    display: flex;
}


.Navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 40px;
    min-width: 60vw;

}

.Navbar-items {
    font-size: 14px;
    font-family: Poppins;
}

.Navbar-items>a {
    text-decoration: none;
    line-height: 40px;
    color: #102851;

}

button {
    background-color: #2AA8FF;
    border-radius: 8px;
    color: white;
}