.headline {
    background-color: #2AA7FF;
    max-width: 100vw;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-family: Poppins;
}